@import "~@/assets/styles/color.scss";

.send {
  cursor: pointer;
  margin: 0 0 0 320px;
  background: $color-blue;
  border-radius: 20px;
  color: $color-white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  padding: 10px
}
.send:active {
  background: $color-white;
  color: $color-blue;
}
